/* .slide-containers{
    min-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
} */

.slide-content{
    /* padding: 45px 20px !important; */
    margin: 0 40px;
    overflow: hidden;
}

.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}
.card-content{
    height: 200px;
}
.card-content1{
    height: 250px;
    padding: 0px 10px;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 14px !important; */
}

/* .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
} */

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0px 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;

}
/* .card-image{
    position: relative;
    height: 250px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}*/

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px 14px;
    /* border-radius: 50%; */
    /* border: 4px solid #4070f4; */
}
.card-image .card-imgg{
    height: 200px !important;
    width: 100% !important;
    /* object-fit: cover; */
}
.name{
    /* font-size: 18px; */
    /* font-weight: 500; */
    color: #fff;
}
.description{
    /* font-size: 14px; */
    color: #fff;
    /* text-align: center; */
}



.swiper-navBtn{
    border: 1px solid #000;
    background-color: #000;
    opacity: 30%;
    color: #fff !important;
}
.swiper-navBtn:hover{
    opacity: 90%;
}

.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}

